.list {
  width: 600px;
  margin: 0;
}

.list ul {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  margin-top: 48px;
}

.list ul li {
  list-style-type: none;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 512px;
  height: 64px;
}

.time {
  margin: 10px 0;
  font-size: 10px;
  white-space: nowrap;
}

.title {
  width: 400px;
  font-size: 14px;
  font-weight: normal;
  color: var(--color-second);
}

.subtitle {
  font-size: 10px;
  font-weight: normal;
  color: var(--color-second);
}

.loading_ui {
  padding: 20px 6px;
  font-family: inherit;
  color: var(--color-second-color);
}

.spinner {
  position: absolute;
  right: 40px;
  bottom: 120px;
  width: 20px;
  height: 20px;
  border-top: 2px solid rgb(72 72 72 / 20%);
  border-right: 2px solid rgb(72 72 72 / 20%);
  border-bottom: 2px solid rgb(72 72 72 / 20%);
  border-left: 2px solid rgb(206, 136, 136);
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 739.98px) {
  .list {
    width: 100%;
  }
  .list ul {
    margin-top: 20px;
  }

  .title {
    width: 180px;
  }
  .container {
    width: 100%;
    height: fit-content;
  }
}
