.search_box {
  position: relative;
  width: 544px;
  padding: 0 8px;
  margin: auto;
}

.search_container {
  position: relative;
  width: fit-content;
  border: solid 0.4px var(--color-border);
  border-radius: 2px;
  box-shadow: 0 0 2px -0.4px var(--color-shadow);
}

@media screen and (max-width: 739.98px) {
  .search_box {
    width: 300px;
  }

  .search_container {
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
  }
}
