.pages_root {
  padding: 80px 0;
  text-align: left;

  li {
    margin: 8px 16px;
    list-style-type: '-  ';
  }
}

@media screen and (max-width: 739.98px) {
  .pages_root {
    width: 100%;
    padding: 120px 24px;
  }
}
