.post_to_posts {
  position: relative;
  left: 560px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-second-color);
}

.mail_to_posts {
  position: absolute;
  right: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-second-color);
  transform: translateY(-100%);
}

@media screen and (max-width: 739.98px) {
  .post_to_posts {
    left: calc(100% - 40px);
    margin-top: -40px;
  }
  .mail_to_posts {
    right: 12px;
  }
}
